{{ $date := .Site.Data.summary.last_updated }}
{{ if isset .Params "date" }}
{{ $date = .Params.date }}
{{ end }}
{{ $data := index .Site.Data.summary (dateFormat "2006-01-02" $date) }}
<div class="item">
    <div class="highlight">
        {{ if isset $data.active_cases "value" }}
        {{ lang.NumFmt 0 $data.active_cases.value }}
        {{ else }}
        N/A
        {{ end }}
    </div>
    <div class="description">
        {{ if isset $data.active_cases "value" }}
        known <br />active&nbsp;case{{ if ne (int $data.active_cases.value) 1 }}s{{ end }}{{ if $data.active_cases.estimate }}*{{ end }}
        {{ else }}
        known <br />active&nbsp;cases
        {{ end }}
    </div>
    <div class="context">
        {{ if and (isset $data.active_cases "value") (isset $data.active_cases_change "value") }}
        {{ if gt $data.active_cases_change.value 0 }}
        <span class="change-bad">&uarr; 
        {{ else if lt $data.active_cases_change.value 0 }}
        <span class="change-good">&darr; 
        {{ else }}
        <span class="change-neutral">&rarr;
        {{ end }}
        {{ lang.NumFmt 0 $data.active_cases_change.value "|.|," "|"}}
        {{ if isset $data.active_cases_change "percentage" }}
        {{ if ne $data.active_cases_change.percentage 0.0 }}
        ({{ lang.NumFmt 0 $data.active_cases_change.percentage "|.|," "|"}}%)
        {{ end }}
        {{ end }}
        </span> from 1w ago{{ if $data.active_cases_change.estimate }}*{{ end }}
        {{ else if isset $data.active_cases "value" }}
        Week-ago data not available
        {{ else }}
        Data not available
        {{ end }}
    </div>
</div>