<div class="item">
    <div class="upper">
        <div class="left">
            <div class="highlight">{{ lang.NumFmt 0 .Site.Data.summary.active_cases.value }}</div>
        </div>
        <div class="right">
            <div class="description">
                known <br />active&nbsp;case{{ if ne (int .Site.Data.summary.active_cases.value) 1 }}s{{ end }}{{ if .Site.Data.summary.active_cases.estimate }}*{{ end }}
            </div>
            <div class="context">
                {{ if gt .Site.Data.summary.active_cases_change.value 0 }}
                <span class="change-bad">&uarr; 
                {{ else if lt .Site.Data.summary.active_cases_change.value 0 }}
                <span class="change-good">&darr; 
                {{ else }}
                <span class="change-neutral">&rarr;
                {{ end }}
                {{ lang.NumFmt 0 .Site.Data.summary.active_cases_change.value "|.|," "|"}}</span> from 1w ago{{ if .Site.Data.summary.active_cases_change.estimate }}*{{ end }}
            </div>
        </div>
    </div>
</div>