<div class="item">
    <div class="highlight">
        {{ if isset .Site.Data.summary.deaths "value" }}
        {{ lang.NumFmt 0 .Site.Data.summary.deaths.value }}
        {{ else }}
        N/A
        {{ end }}
    </div>
    <div class="description">
        {{ if isset .Site.Data.summary.deaths "value" }}
        cumulative <br />death{{ if ne (int .Site.Data.summary.deaths.value) 1 }}s{{ end }}{{ if .Site.Data.summary.deaths.estimate }}*{{ end }}
        {{ else }}
        cumulative <br />deaths
        {{ end }}
    </div>
    <div class="context">
        {{ if and (isset .Site.Data.summary.deaths "value") (isset .Site.Data.summary.deaths_change "value") }}
        {{ if (gt .Site.Data.summary.deaths_change.value 0) }}
        <span class="change-bad">&uarr; 
        {{ else }}
        <span class="change-good">&rarr; 
        {{ end }}
        {{ lang.NumFmt 0 .Site.Data.summary.deaths_change.value "|.|," "|"}}</span> from 1w ago{{ if .Site.Data.summary.deaths_change.estimate }}*{{ end }}
        {{ else if isset .Site.Data.summary.deaths "value" }}
        Week-ago data not available
        {{ else }}
        Data not available
        {{ end }}
    </div>
</div>