<div class="item">
    <div class="highlight">{{ lang.NumFmt 0 .Site.Data.summary.deaths.value }}</div>
    <div class="description">
        cumulative <br />deaths{{ if .Site.Data.summary.deaths.estimate }}*{{ end }}
    </div>
    <div class="context">
        {{ if (gt .Site.Data.summary.deaths_change.value 0) }}
        <span class="change-bad">&uarr; 
        {{ else }}
        <span class="change-good">&rarr; 
        {{ end }}
        {{ lang.NumFmt 0 .Site.Data.summary.deaths_change.value "|.|," "|"}}</span> from 1w ago{{ if .Site.Data.summary.deaths_change.estimate }}*{{ end }}
    </div>
</div>