{{ $date := .Site.Data.summary.last_updated }}
{{ if isset .Params "date" }}
{{ $date = .Params.date }}
{{ end }}
{{ $data := index .Site.Data.summary (dateFormat "2006-01-02" $date) }}
<div class="item">
    <div class="highlight">
        {{ if isset $data.new_cases_7d "value" }}
        {{ lang.NumFmt 0 $data.new_cases_7d.value }}
        {{ else }}
        N/A
        {{ end }}
    </div>
    <div class="description">
        {{ if isset $data.new_cases_7d "value" }}
        new case{{ if ne (int $data.new_cases_7d.value) 1 }}s{{ end }} in <br />the&nbsp;past week{{ if $data.new_cases_7d.estimate }}*{{ end }}
        {{ else }}
        new cases in <br />the&nbsp;past week
        {{ end }}
    </div>
    <div class="context">
        {{ if and (isset $data.new_cases_7d "value") (isset $data.new_cases_7d_change "value") }}
        {{ if gt $data.new_cases_7d_change.value 0 }}
        <span class="change-bad">&uarr; 
        {{ else if lt $data.new_cases_7d_change.value 0 }}
        <span class="change-good">&darr; 
        {{ else }}
        <span class="change-neutral">&rarr;
        {{ end }}
        {{ lang.NumFmt 0 $data.new_cases_7d_change.value "|.|," "|"}}</span> from 1w ago{{ if $data.new_cases_7d_change.estimate }}*{{ end }}
        {{ else if isset $data.new_cases_7d "value" }}
        Week-ago data not available
        {{ else }}
        Data not available
        {{ end }}
    </div>
</div>