{{ $date := .Site.Data.summary.last_updated }}
{{ if isset .Params "date" }}
{{ $date = .Params.date }}
{{ end }}
{{ $data := index .Site.Data.summary (dateFormat "2006-01-02" $date) }}
<div class="item">
    <div class="highlight">
        {{ if isset $data.positivity_rate_2w "value" }}
        {{ lang.NumFmt 1 $data.positivity_rate_2w.value }}%
        {{ else }}
        N/A
        {{ end }}
    </div>
    <div class="description">
        {{ if isset $data.positivity_rate_2w "value" }}
        14-day <br />positivity&nbsp;rate{{ if $data.positivity_rate_2w.estimate }}*{{ end }}
        {{ else }}
        14-day <br />positivity&nbsp;rate
        {{ end }}
    </div>
    <div class="context">
    {{ if and (isset $data.positivity_rate_2w "value") (isset $data.positivity_rate_2w_change "value") }}
        {{ if ge $data.positivity_rate_2w_change.value 0 }}
        <span class="change-bad">&uarr; 
        {{ else if lt $data.positivity_rate_2w_change.value 0 }}
        <span class="change-good">&darr; 
        {{ else }}
        <span class="change-neutral">&rarr;
        {{ end }}
        {{ lang.NumFmt 1 $data.positivity_rate_2w_change.value "|.|," "|"}}<abbr title="percentage points"> p.p.</abbr>
        {{ if isset $data.positivity_rate_2w_change "percentage" }}
        ({{ lang.NumFmt 0 $data.positivity_rate_2w_change.percentage "|.|," "|"}}%)
        {{ end }}
        </span> from 1w ago{{ if $data.positivity_rate_2w_change.estimate }}*{{ end }}
    {{ else if isset $data.positivity_rate_2w "value" }}
    Week-ago data not available
    {{ else }}
    Data not available
    {{ end }}
    </div>
</div>