{{ $date := .Site.Data.summary.last_updated }}
{{ if isset .Params "date" }}
{{ $date = .Params.date }}
{{ end }}
{{ $data := index .Site.Data.summary (dateFormat "2006-01-02" $date) }}
{{ with $data.risk_category }}
<div class="risk-category risk-border-left-{{ $data.risk_category }}">
    <div class="content">
        <div class="label">Risk Level</div>
        <div class="category-name">{{ humanize $data.risk_category }}</div>
        <div class="category-value">
            <strong>{{ lang.NumFmt 1 $data.new_cases_14d_100k }}</strong> average daily new cases per 100K for past&nbsp;14d
        </div>
        <div class="category-value">
        {{ if eq $data.risk_category "low" }}
            Data indicates that COVID-19 poses a <strong>low risk</strong> in Howell County. Please keep masking and social distancing to help keep our risk level low.
        {{ else if eq $data.risk_category "moderate" }}
            Data indicates that COVID-19 poses a <strong>moderate risk</strong> in Howell County. The disease is spreading slowly and poses an outside risk of an eventual outbreak if not contained.
        {{ else if eq $data.risk_category "high" }}
            Data indicates that COVID-19 poses a <strong>high risk</strong> in Howell County. The disease is spreading quickly, putting the county at risk of an outbreak.
        {{ else if eq $data.risk_category "critical" }}
            Data indicates that COVID-19 poses a <strong>critical risk</strong> in Howell County. The disease is spreading very rapidly, and an outbreak is imminent or ongoing.
        {{ else if eq $data.risk_category "extreme" }}
            Data indicates that COVID-19 poses an <strong>extreme risk</strong> in Howell County. The disease is spreading freely &mdash; a severe outbreak is ongoing.
        {{ end }}
        </div>
    </div>
    <div id="meter">
        <div id="meter-segments">
            <div id="meter-low" class="meter-segment risk-bg-low"></div>
            <div id="meter-moderate" class="meter-segment risk-bg-moderate"></div>
            <div id="meter-high" class="meter-segment risk-bg-high"></div>
            <div id="meter-critical" class="meter-segment risk-bg-critical"></div>
        </div>
        <div id="meter-labels">
            <div id="meter-label-max" class="meter-label">75</div>
            <div id="meter-label-critical" class="meter-label">25</div>
            <div id="meter-label-high" class="meter-label">10</div>
            <div id="meter-label-moderate" class="meter-label">1</div>
            <div id="meter-label-min" class="meter-label">0</div>
        </div>
        <div class="meter-indicator risk-bg-{{ $data.risk_category }}" style="right:{{ $data.risk_meter_offset }}px;"></div>
    </div>
</div>
{{ end }}