{{ $date := .Site.Data.summary.last_updated }}
{{ if isset .Params "date" }}
{{ $date = .Params.date }}
{{ end }}
<div id="chart-container" class="col-md-8" data-chart-date="{{ dateFormat "2006-01-02" $date }}">
    <div id="chart-select">
        <div class="d-flex flex-direction-column">
            <div id="dropdown" aria-hidden="true">
                <div id="chart-selection-dropdown-button" class="btn dropdown-toggle text-light bg-primary" aria-hidden="true" data-bs-toggle="dropdown">
                    <span id="selected-chart-name" class="fw-bold">New Cases</span>
                </div>
                <ul class="dropdown-menu" aria-labelledby="chart-selection-dropdown-button">
                    <li><a class="dropdown-item active" id="new-cases" href="#" onclick="changeChart(chart, 'new', json);">New Cases</a></li>
                    <li><a class="dropdown-item" id="risk-level-chart" href="#" onclick="changeChart(chart, 'risk_level', json);">Risk Level</a></li>
                    <li><a class="dropdown-item" id="total-cases" href="#" onclick="changeChart(chart, 'total', json);">Total Cases</a></li>
                    <li><a class="dropdown-item" id="active-cases" href="#" onclick="changeChart(chart, 'active', json);">Active Cases</a></li>
                    <li><a class="dropdown-item" id="positivity-rate" href="#" onclick="changeChart(chart, 'pos_rate', json);">Testing</a></li>
                    <li><a class="dropdown-item" id="vaccine-doses" href="#" onclick="changeChart(chart, 'vaccine_doses', json);">Vaccine Doses</a></li>
                    <li><a class="dropdown-item" id="vaccine-residents" href="#" onclick="changeChart(chart, 'vaccine_residents', json);">Vaccinated Residents</a></li>
                </ul>
                <div id="dropdown-menu" class="hidden">
                    <div id="new-cases" class="dropdown-item dropdown-item-selected" onclick="changeChart(chart, 'new', json);">New Cases</div>
                    <div id="risk-level-chart" class="dropdown-item" onclick="changeChart(chart, 'risk_level', json);">Risk Level</div>
                    <div id="total-cases" class="dropdown-item" onclick="changeChart(chart, 'total', json);">Total Cases</div>
                    <div id="active-cases" class="dropdown-item" onclick="changeChart(chart, 'active', json);">Active Cases</div>
                    <div id="positivity-rate" class="dropdown-item" onclick="changeChart(chart, 'pos_rate', json);">Testing</div>
                    <div id="vaccine-doses" class="dropdown-item" onclick="changeChart(chart, 'vaccine_doses', json);">Vaccine Doses</div>
                    <div id="vaccine-residents" class="dropdown-item" onclick="changeChart(chart, 'vaccine_residents', json);">Vaccinated Residents</div>
                </div>
            </div>
            <div class="flex-grow-1"></div>
            <div class="btn btn-toggle" id="date-markers" onclick="changeChart(chart, 'date_markers', json);" aria-hidden="true">Events</div>
        </div>
    </div>
</div>