
<div id="chart-container" class="col-md-8">
    <div id="chart-select">
        <div class="left">
            <div id="dropdown">
                <div id="dropdown-selected" onclick="showDropdownMenu();">
                    <span id="selected-chart-name">New Cases</span>
                    <span id="chevron" class="iconify" data-icon="el-chevron-down" data-inline="false"></span>
                </div>
                <div id="dropdown-menu" class="hidden">
                    <div id="new-cases" class="dropdown-item dropdown-item-selected" onclick="changeChart('new', json);">New Cases</div>
                    <div id="risk-level-chart" class="dropdown-item" onclick="changeChart('risk_level', json);">Risk Level</div>
                    <div id="total-cases" class="dropdown-item" onclick="changeChart('total', json);">Total Cases</div>
                    <div id="active-cases" class="dropdown-item" onclick="changeChart('active', json);">Active Cases</div>
                    <div id="positivity-rate" class="dropdown-item" onclick="changeChart('pos_rate', json);">Testing</div>
                    <div id="vaccine-doses" class="dropdown-item" onclick="changeChart('vaccine_doses', json);">Vaccine Doses</div>
                    <div id="vaccine-residents" class="dropdown-item" onclick="changeChart('vaccine_residents', json);">Vaccinated Residents</div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="button" id="date-markers" onclick="changeChart('date_markers', json);">Events</div>
        </div>
        <div class="clear"></div>
    </div>
    <canvas id="chart"></canvas>
</div>