{{ $date := .Site.Data.summary.last_updated }}
{{ if isset .Params "date" }}
{{ $date = .Params.date }}
{{ end }}
{{ $data := index .Site.Data.summary (dateFormat "2006-01-02" $date) }}
{{ with $data.community_transmission }}
<div class="risk-category d-flex flex-direction-column">
    <div class="category-indicator ct-bg-{{ . }} bg-gradient" aria-hidden="true"></div>
    <div class="ms-2 flex-grow-1">
        <div class="category-type text-uppercase mb-1" aria-hidden="true">Community Transmission Level</div>
        <div class="category-name">{{ humanize . }} <span class="visually-hidden">CDC Community Transmission Level</span></div>
        <div class="category-value">
            (Based on PCR and antigen tests.)
        </div>
    </div>
</div>
{{ end }}