{{ $date := .Site.Data.summary.last_updated }}
{{ if isset .Params "date" }}
{{ $date = .Params.date }}
{{ end }}
{{ $data := index .Site.Data.summary (dateFormat "2006-01-02" $date) }}
{{ with $data.community_transmission }}
<div class="risk-category">
    <div class="category-name"><span class="category-indicator ct-bg-{{ . }}" aria-hidden="true"></span>{{ humanize . }} Community Transmission</div>
    <div class="category-value">
        Based on PCR and antigen tests, Howell County&rsquo;s community transmission rate is <strong>{{ . }}</strong>.
        {{ if or (eq . "high") (eq . "considerable") }}
        All individuals should wear masks in indoor public settings.
        {{ else }}
        Vaccinated individuals do not need to wear masks indoors.
        {{ end }}
    </div>
</div>
{{ end }}