{{ $date := .Site.Data.summary.last_updated }}
{{ if isset .Params "date" }}
{{ $date = .Params.date }}
{{ end }}
{{ $data := index .Site.Data.summary (dateFormat "2006-01-02" $date) }}
{{ with $data.risk_category }}
<div class="risk-category d-flex flex-direction-column">
    <div class="category-indicator risk-bg-{{ . }} bg-gradient" aria-hidden="true"></div>
    <div class="ms-2 flex-grow-1">
        <div class="category-type text-uppercase mb-1" aria-hidden="true">Risk Level</div>
        <div class="category-name">{{ humanize . }} <span class="visually-hidden">Risk Level</span></div>
        <div class="category-value">
        {{ if eq $data.risk_category "low" }}
            COVID-19 poses a limited risk at this time.
        {{ else if eq $data.risk_category "moderate" }}
            There is some risk of a COVID-19 outbreak.
        {{ else if eq $data.risk_category "high" }}
            There is a significant risk of a COVID-19 outbreak.
        {{ else if eq $data.risk_category "critical" }}
            A COVID-19 outbreak is imminent or ongoing.
        {{ else if eq $data.risk_category "extreme" }}
            A severe outbreak of COVID-19 is ongoing.
        {{ end }}
        </div>
    </div>
</div>
{{ end }}