{{ $date := .Site.Data.summary.last_updated }}
{{ if isset .Params "date" }}
{{ $date = .Params.date }}
{{ end }}
{{ $data := index .Site.Data.summary (dateFormat "2006-01-02" $date) }}
<div id="totals">
    <div class="total">
        <div class="value">{{ lang.NumFmt 0 (index (index (index (index $.Site.Data.relative (dateFormat "2006-01-02" $date)) 4).totals) 0) }}</div>
        <div class="label">cases</div>
        <div class="context">
            {{ if isset $data.new_cases_7d "value" }}
            {{ if gt $data.new_cases_7d.value 0 }}
            <span class="change-bad">
            {{ else }}
            <span class="change-good">
            {{ end }}&uarr; {{ lang.NumFmt 0 $data.new_cases_7d.value "|.|," "|"}}</span> from a week ago{{ if $data.new_cases_7d.estimate }}*{{ end }}
            {{ end }}
        </div>
    </div>
    <div class="total">
        <div class="value">{{ lang.NumFmt 0 ($data.deaths.value) }}</div>
        <div class="label">deaths</div>
        <div class="context">
            {{ if isset $data.deaths_change "value" }}
            {{ if gt $data.deaths_change.value 0 }}
            <span class="change-bad">
            {{ else }}
            <span class="change-good">
            {{ end }}&uarr; {{ lang.NumFmt 0 $data.deaths_change.value "|.|," "|"}}</span> from a week ago{{ if $data.deaths_change.estimate }}*{{ end }}
            {{ end }}
        </div>
    </div>
</div>