{{ $date := .Site.Data.summary.last_updated }}
{{ if isset .Params "date" }}
{{ $date = .Params.date }}
{{ end }}
{{ $data := index .Site.Data.summary (dateFormat "2006-01-02" $date) }}
<div class="item col-md-3">
    <div class="highlight">
        {{ if isset $data.new_tests_7d "value" }}
        {{ lang.NumFmt 0 $data.new_tests_7d.value }}
        {{ else }}
        N/A
        {{ end }}
    </div>
    <div class="description">
        {{ with $data.new_tests_7d }}
        test{{ if ne (int $data.new_tests_7d.value) 1 }}s{{ end }} in the&nbsp;past week{{ if $data.new_tests_7d.estimate }}*{{ end }}
        {{ else }}
        tests in the&nbsp;past week
        {{ end }}
    </div>
    <div class="context">
        {{ if and (isset $data.new_tests_7d "value") (isset $data.new_tests_7d_change "value") }}
        {{ if gt $data.new_tests_7d_change.value 0 }}
        <span class="change-good">&uarr; 
        {{ else if lt $data.new_tests_7d_change.value 0 }}
        <span class="change-bad">&darr;
        {{ else }}
        <span class="change-neutral">&rarr;
        {{ end }}
        {{ lang.NumFmt 0 $data.new_tests_7d_change.value "|.|," "|"}}
        {{ if isset $data.new_tests_7d_change "percentage" }}
        {{ if ne $data.new_tests_7d_change.percentage 0.0 }}
        ({{ lang.NumFmt 0 $data.new_tests_7d_change.percentage "|.|," "|"}}%)
        {{ end }}
        {{ end }}
        </span> from a week ago{{ if $data.new_tests_7d_change.estimate }}*{{ end }}
        {{ else if isset $data.new_tests_7d "value" }}
            Week-ago data not available
        {{ else }}
            Data not available
        {{ end }}
    </div>
</div>