@media only screen and (prefers-color-scheme: dark) {
    $primary: #a153fa;

    body, main {
        background: #111;
        color: #eee;
    }

    a {
        color: #ba7eff;
        text-decoration: none;
    }

    p, li {
        color: #ccc;
    }

    #top {
        .message {
            color: #fff !important;

            &-info {
                background: #003b53;
            }

            &-moderate {
                background: #795800;
            }

            &-critical {
                background: #530600;
            }
        }
    }

    #time-machine-nav {
        background: #053652;
        
        a {
            background: #0c6091;
        }
    }

    #chart-select {
        #dropdown-menu {
            background: #222;
            border: 1px solid #444;
        }

        .dropdown-item {
            color: #ccc;

            &-selected {
                color: #fff;
            }

            &:hover {
                background: #333;
            }
        }

        .button {
            background: #292929;
            color: #fff;
        }
    }

    #vaccinations {
        #vaccination-meter {
            background: #333;
        }
    }

    #risk-category {
        .category-name {
            color: #fff !important;
        }

        .category-value {
            color: #888;
        }
    }

    #totals, #dashboard-grid-container {
        .description {
            color: #bbb;
        }

        .context {
            color: #999;
        }
    }

    .change-good {
        color: #88eb8f;
    }

    .change-bad {
        color: #f7685e;
    }

    .change-neutral {
        color: #ddd;
    }

    p.table-footer {
        color: #888;
    }

    h3 {
        color: $primary !important;
    }

    #county-map {
        #background {
            fill: #222 !important;
        }

        #county {
            fill: #444 !important;
            stroke: #666 !important;
        }
    }

    .active-label {
        background: rgba(0,0,0,0.4) !important;
        border: 1px solid #000;
    }

    .active-cases-placeholder {
        background: #222;
        color: #999;
    }

    table {
        tr:nth-child(odd) {
            background: rgba(255,255,255,0.08);
        }

        tr:nth-child(even) {
            background: rgba(255,255,255,0.02);
        }
    }

    .totals th.row-head {
        padding: 8px 20px;
        color: rgba(255,255,255,0.7);
        text-align: right;
    }

    .totals th.county, .totals td.county {
        background: rgba(255,255,255,0.1);
    }
    
    .all-data {
        color: #ddd;
    }

    .all-data th {
        background: #333 !important;
        color: #bbb;
    }

    .all-data th,
    .all-data td {
        border-color: #444 !important;
    }
    
    .all-data td.na {
        color: rgba(255,255,255,0.4);
    }

    h3 {
        color: $primary !important;
    }
    
    h4 {
        color: #8f44e6 !important;
    }

    footer {
        border-color: #333;
    }
}