@media only screen and (prefers-color-scheme: dark) {
    $primary: #a153fa;

    body, main {
        background: #111;
        color: #eee;
    }

    a {
        color: #ba7eff;
        text-decoration: none;
    }

    p, li {
        color: #ccc;
    }

    #top {
        .message {
            color: #fff !important;

            &-info {
                background: #003b53;
            }

            &-moderate {
                background: #795800;
            }

            &-critical {
                background: #530600;
            }
        }
    }

    #chart-select {
        .button {
            background: #292929;
            color: #fff;
            &-selected {
                background: #42107b;
                color: #fff;
            }
        }
    }

    .risk-category {
        .category-name {
            color: #fff !important;
        }

        .category-value {
            color: #888;
        }
    }

    #dashboard-grid-container {
        .description {
            color: #bbb;
        }

        .context {
            color: #999;
        }
    }

    .change-good {
        color: #88eb8f;
    }

    .change-bad {
        color: #f7685e;
    }

    .change-neutral {
        color: #ddd;
    }

    p.table-footer {
        color: #888;
    }

    h3 {
        color: $primary !important;
    }

    h4 {
        color: #aaa;
    }

    table {
        tr:nth-child(odd) {
            background: rgba(255,255,255,0.08);
        }

        tr:nth-child(even) {
            background: rgba(255,255,255,0.02);
        }
    }

    .totals th.row-head {
        padding: 8px 20px;
        color: rgba(255,255,255,0.7);
        text-align: right;
    }

    .totals th.county, .totals td.county {
        background: rgba(255,255,255,0.1);
    }
    
    .all-data {
        color: #ddd;
    }

    .all-data th {
        background: #333 !important;
        color: #bbb;
    }

    .all-data th,
    .all-data td {
        border-color: #444 !important;
    }
    
    .all-data td.na {
        color: rgba(255,255,255,0.4);
    }

    footer {
        border-color: #333;
    }
}