@import 'risk-levels.scss';

$primary: #6415be;
$secondary: #42107b;

.bg-primary {
    background-color: $primary !important;
}

body {
    background: #eee;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-fluid div {
    min-width: 0;
    min-height: 0;
}

nav {
    background: $secondary;
}

.hidden {
    display: none;
}

#time-machine-nav {
    position: relative;
    max-width: 300px;
    height: 34px;
    margin: 10px auto;
    padding: 0;
    background: #0d6da5;
    border-radius: 17px;
    box-shadow: 0 0.3em 1em rgba(0,0,0,0.2);
    font-size: 12px;
    text-align: center;
    z-index: 8;

    .label {
        color: rgba(255,255,255,0.6);
        letter-spacing: 1px;
        line-height: 34px;
        text-transform: uppercase;
    }

    a {
        position: absolute;
        top: 0;
        display: inline-block;
        margin: 3px;
        padding: 8px;
        background: #0f81c4;
        border-radius: 14px;
        color: #fff;
        font-weight: 600;
        float: none !important;

        &.left {
            left: 0;
        }

        &.right {
            right: 0;
        }
    }
}

main {
    padding: 0;
    background: #eee;
}

a {
    color: #42107b;
    text-decoration: none;
}

#top {
    .message {
        padding: 10px;
        font-size: 14px;
        line-height: 20px;

        &-info {
            @extend .message;
            background: #0f81c4;
            color: #fff;
        }

        &-moderate {
            @extend .message;
            background: #fabb0e;
            color: #222;
        }

        &-critical {
            @extend .message;
            background: #ce1609;
            color: #fff;
        }

        &-info a, &-critical a {
            color: #fff;
            font-weight: bold;
        }

        &-moderate a {
            color: #222;
            font-weight: bold;
        }
    }
}

#chart-container, #sidebar {
    margin-top: 10px;
}

#chart-select {
    margin: 0 0 10px;
}

.dropdown-item.active {
    background: $primary !important;
}

.btn-toggle {
    background: #ddd;
    color: #42107b;
}

#chart-container {
    min-width: 0; // hack to support chart in CSS grid
}

#chart {
    height: 400px;
    max-height: 400px;
}

#vaccine-button {
    display: block;
    padding: 16px 0;
    background: #0f81c4;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.risk-category {
    margin: 15px auto 0;

    .category-type {
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 0.5px;
        opacity: 50%;
    }

    .category-name {
        width: 100%;
        margin-bottom: 6px;
        font-size: 20px;
        font-weight: bold;
    }

    .category-indicator {
        min-width: 24px;
        max-width: 24px;
        min-height: 24px;
        max-height: 24px;
        margin-top: 6px;
        border: 0.5px solid rgba(0, 0, 0, 0.5);
        border-radius: 12px;
    }

    .category-value {
        margin: 10px 0 0;
        color: #666;
        line-height: 18px;
        font-size: 12px;
    }
}

#vaccinations {
    margin: 0 0 20px;

    #vaccination-meter {
        height: 16px;
        background: #d6d6d6;

        span {
            height: 16px;
            display: inline-block;
            background: #ccc;
        }

        #fully-vaccinated {
            background: #13d694;
        }

        #initiated-vaccination {
            background: #0fa673;
        }
    }

    #vaccination-details {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        column-gap: 10px;

        .percentage {
            font-size: 24px;
            font-weight: bold;
        }

        .label {
            margin-top: 4px;
            color: #888;
            font-size: 14px;
            line-height: 18px;
        }
    }
}

#totals, #dashboard-grid-container {
    margin-top: 20px;
    text-align: center;

    .item {
        margin: 15px 0;
    }

    .highlight {
        margin-bottom: 6px;
        font-size: 36px;
        font-weight: bold;
    }
    
    .description {
        color: #555;
        font-size: 15px;
        line-height: 18px;
    }
    
    .context {
        margin-top: 6px;
        color: #888;
        font-size: 12px;
        line-height: 16px;
    }
}

.change {
    font-weight: 600;

    &-bad {
        @extend .change;
        color: #c4372d;
    }

    &-neutral {
        @extend .change;
        color: rgb(128, 128, 128);
    }

    &-good {
        @extend .change;
        color: #1c9424;
    }
}

@import 'active-map.scss';

.town-label {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 16px;
    text-transform: uppercase;
    vertical-align: middle;

    &-dark {
        @extend .town-label;
        color: #888;
    }

    &-light {
        @extend .town-label;
        color: #bbb;
    }
}

.town-number {
    margin-top: 15px;
    font-size: 200%;
    font-weight: 600;
}

.accordion-button {
    opacity: 0.6;

    &:not(.collapsed) {
        opacity: 1;
    }
}

.accordion-button,
.accordion-button:not(.collapsed) {
    color: $primary;
    font-weight: 600;

    &::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236415be'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
}

table {
    margin: 0 auto;
    
    tr:nth-child(odd) {
        background: rgba(0,0,0,0.05);
    }

    thead tr {
        background: transparent !important;
    }
}

.totals {
    overflow: scroll;
    font-size: 13px;

    th, td {
        padding: 4px 10px;
        vertical-align: middle;
    }

    th.row-head {
        padding: 8px 10px;
        color: rgba(0,0,0,0.6);
        text-align: right;
    }

    td {
        padding: 4px;
        font-size: 15px;
        font-weight: 600;
        text-align: center;
    }

    th.county, td.county {
        background: rgba(255,255,255,0.3);
    }
}

.all-data {
    position: relative;
    margin: 0;
    font-size: 80%;
    line-height: 140%;

    thead {
        background: #ccc;
        top: 0;
    }

    th {
        position: relative;
        padding: 5px 8px;
        background: #fff;
        border: 1px solid #ccc;
        color: #777;
        vertical-align: middle;
    }

    .date {
        font-weight: 600;
    }

    thead {
        position: sticky;
        top: 0;
        z-index: 2;
    }

    tbody th {
        position: sticky;
        left: 0;
        z-index: 1;
    }

    td {
        padding: 3px 5px;
        border: 1px solid #ccc;
        text-align: right;
        vertical-align: middle;
    }

    td.prominent-right-border {
        border-right: 1px solid #000;
    }

    td.na {
        color: rgba(0,0,0,0.4)
    }

    td.estimate {
        font-style: italic;
    }

    .risk-level, .ct {
        text-align: center;

        span {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-right: 5px;
            border: 1px solid rgba(0, 0, 0, 0.5);
            border-radius: 5px;
        }
    }

    .risk-level {
        min-width: 110px;
    }

    .ct {
        min-width: 140px;
    }

    td.sources {
        min-width: 80px;
    }
}

.table-footer {
    margin: 10px 0;
    color: rgba(0,0,0,0.4);
    font-size: 80%;
    line-height: 20px;
    text-align: center;
}

h2 {
    margin: 20px 0;
    color: $primary;
    font-size: 24px;
    font-weight: 600;
}

h3 {
    margin: 20px 0;
    color: $primary;
    font-size: 20px;
    font-weight: 600;
}

h4 {
    color: $primary;
    font-size: 18px;
}

#home h3 {
    text-align: center;
}

#content {
    max-width: 900px;

    p {
        margin-bottom: 10px;
    }

    ul {
        padding-left: 30px;
        color: #222;
        list-style-type: square;
    }

    p, li {
        margin-bottom: 10px;
        line-height: 24px;
    }
}

strong {
    font-weight: bold;
}

footer {
    border-top: 1px solid #ddd;
    color: rgba(0,0,0,0.6);
    font-size: 12px;
    line-height: 20px;

    .disclaimer {
        color: #888;
        font-size: 10px;
        line-height: 16px;
    }
}

@import 'responsive.scss';
@import 'dark-mode.scss';