@import 'risk-levels.scss';

$primary: #6415be;
$secondary: #42107b;

body {
    background: #eee;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrap {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

.container-fluid div {
    min-width: 0;
    min-height: 0;
}

header {
    padding: 20px 10px;
    background: $secondary;
    color: #fff;

    a {
        display: inline-block;
    }

    h1 {
        margin-bottom: 6px;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
    }

    #last-updated {
        color: rgba(255,255,255,0.6);
        font-size: 14px;
    }
}

#site-nav {
    position: sticky;
    height: 44px;
    background: $primary;
    font-size: 16px;
    z-index: 1000;

    .nav-item {
        display: inline-block;
        padding: 0 10px;
        line-height: 44px;

        a {
            color: rgba(255,255,255,0.75);
        }

        &-active, &-active a {
            color: #fff;
            font-weight: bold;
        }
    }
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.hidden {
    display: none;
}

#time-machine-nav {
    position: relative;
    max-width: 300px;
    height: 34px;
    margin: 10px auto;
    padding: 0;
    background: #0d6da5;
    border-radius: 17px;
    box-shadow: 0 0.3em 1em rgba(0,0,0,0.2);
    font-size: 12px;
    text-align: center;
    z-index: 8;

    .label {
        color: rgba(255,255,255,0.6);
        letter-spacing: 1px;
        line-height: 34px;
        text-transform: uppercase;
    }

    a {
        position: absolute;
        top: 0;
        display: inline-block;
        margin: 3px;
        padding: 8px;
        background: #0f81c4;
        border-radius: 14px;
        color: #fff;
        font-weight: 600;
        float: none !important;

        &.left {
            left: 0;
        }

        &.right {
            right: 0;
        }
    }
}

main {
    padding: 0;
    background: #eee;
}

a {
    color: #42107b;
    text-decoration: none;
}

#top {
    .message {
        padding: 10px;
        font-size: 14px;
        line-height: 20px;

        &-info {
            @extend .message;
            background: #0f81c4;
            color: #fff;
        }

        &-moderate {
            @extend .message;
            background: #fabb0e;
            color: #222;
        }

        &-critical {
            @extend .message;
            background: #ce1609;
            color: #fff;
        }

        &-info a, &-critical a {
            color: #fff;
            font-weight: bold;
        }

        &-moderate a {
            color: #222;
            font-weight: bold;
        }
    }
}

#chart-container, #sidebar {
    margin-top: 10px;
}

#chart-select {
    margin: 0 0 10px;

    #dropdown {
        text-align: left;
        cursor: pointer;
    }

    #dropdown-selected {
        padding: 10px;
        background: $primary;
        border-radius: 6px;
        color: #fff;
        font-size: 13px;
        font-weight: 600;

        #chevron {
            width: 10px;
            height: 10px;
            margin-left: 6px;
            color: #fff;
        }
    }

    .dropdown-selected-active #chevron {
        transform: rotate(180deg) !important;
    }

    #dropdown-menu {
        position: absolute;
        padding: 4px 0;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 6px;
        color: #555;
        font-size: 13px;
    }

    .dropdown-item {
        padding: 8px 30px 8px 10px;

        &-selected {
            color: #333;
            font-weight: 600;
        }

        &:hover {
            background: #eee;
        }
    }

    .button {
        display: inline-block;
        padding: 10px;
        background: #ddd;
        border: none;
        border-radius: 6px;
        color: #42107b;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 13px;
        text-decoration: none;
        cursor: pointer;

        &-selected {
            @extend .button;
            background: $primary !important;
            color: #fff;
            font-weight: 600;
        }
    }
}

#chart-container {
    min-width: 0; // hack to support chart in CSS grid
}

#chart {
    height: 500px;
    max-height: 500px;
}

#vaccine-button {
    display: block;
    padding: 16px 0;
    background: #0f81c4;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.risk-category {
    margin: 15px auto 0;
    text-align: center;

    .category-name {
        display: block;
        width: 100%;
        margin-bottom: 6px;
        font-size: 24px;
        font-weight: bold;
    }

    .category-indicator {
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-right: 12px;
        border-radius: 12px;
    }

    .category-value {
        margin: 10px 0 0;
        color: #666;
        line-height: 20px;
        font-size: 14px;
    }
}

#vaccinations {
    margin: 0 0 20px;

    #vaccination-meter {
        height: 16px;
        background: #d6d6d6;

        span {
            height: 16px;
            display: inline-block;
            background: #ccc;
        }

        #fully-vaccinated {
            background: #13d694;
        }

        #initiated-vaccination {
            background: #0fa673;
        }
    }

    #vaccination-details {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        column-gap: 10px;

        .percentage {
            font-size: 24px;
            font-weight: bold;
        }

        .label {
            margin-top: 4px;
            color: #888;
            font-size: 14px;
            line-height: 18px;
        }
    }
}

#totals {
    margin-top: 20px;
    text-align: center;

    .total {
        margin: 15px 0;

        .value {
            margin: 6px 0;
            font-size: 36px;
            font-weight: bold;
        }
    
        .label {
            font-size: 16px;
        }

        .context {
            margin-top: 8px;
            color: #888;
            font-size: 14px;
        }
    }
}

#dashboard-grid-container {
    margin: 20px 0;
    text-align: center;

    .item {
        padding: 15px 0;
    }

    .highlight {
        margin-bottom: 6px;
        font-size: 36px;
        font-weight: bold;
    }

    .description {
        color: #555;
        font-size: 15px;
        line-height: 18px;
    }

    .context {
        margin-top: 6px;
        color: #888;
        font-size: 12px;
        line-height: 16px;
    }
}

.change {
    font-weight: 600;

    &-bad {
        @extend .change;
        color: #c4372d;
    }

    &-neutral {
        @extend .change;
        color: rgb(128, 128, 128);
    }

    &-good {
        @extend .change;
        color: #1c9424;
    }
}

@import 'active-map.scss';

.town-label {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 16px;
    text-transform: uppercase;
    vertical-align: middle;

    &-dark {
        @extend .town-label;
        color: #888;
    }

    &-light {
        @extend .town-label;
        color: #bbb;
    }
}

.town-number {
    margin-top: 15px;
    font-size: 200%;
    font-weight: 600;
}

table {
    margin: 20px auto 40px;
    
    tr:nth-child(odd) {
        background: rgba(0,0,0,0.05);
    }

    thead tr {
        background: transparent !important;
    }
}

.totals {
    overflow: scroll;
    font-size: 13px;

    th, td {
        padding: 4px 10px;
        vertical-align: middle;
    }

    th.row-head {
        padding: 8px 10px;
        color: rgba(0,0,0,0.6);
        text-align: right;
    }

    td {
        padding: 4px;
        font-size: 15px;
        font-weight: 600;
        text-align: center;
    }

    th.county, td.county {
        background: rgba(255,255,255,0.3);
    }
}

#table {
    padding-bottom: 20px;

    div.wrap {
        height: 600px;
        margin-bottom: 20px;
        padding: 0 !important;
        overflow: auto;
    }
}

.all-data {
    position: relative;
    margin: 0;
    font-size: 80%;
    line-height: 140%;

    thead {
        background: #ccc;
        top: 0;
    }

    th {
        position: relative;
        padding: 5px 8px;
        background: #fff;
        border: 1px solid #ccc;
        color: #777;
        vertical-align: middle;
    }

    .date {
        font-weight: 600;
    }

    thead {
        position: sticky;
        top: 0;
        z-index: 2;
    }

    tbody th {
        position: sticky;
        left: 0;
        z-index: 1;
    }

    td {
        padding: 3px 5px;
        border: 1px solid #ccc;
        text-align: right;
        vertical-align: middle;
    }

    td.prominent-right-border {
        border-right: 2px solid #888;
    }

    td.na {
        color: rgba(0,0,0,0.4)
    }

    td.estimate {
        font-style: italic;
    }

    .risk-level {
        font-weight: 600;
        text-align: center;
    }
}

.table-footer {
    margin: 10px 0;
    color: rgba(0,0,0,0.4);
    font-size: 80%;
    line-height: 20px;
    text-align: center;
}

h3 {
    margin: 20px 0;
    color: $primary;
    font-size: 24px;
    font-weight: 600;
}

h4 {
    margin: 20px 0;
    color: $primary;
    font-size: 20px;
    font-weight: 600;
}

#home h3 {
    text-align: center;
}

#content {
    p {
        margin-bottom: 10px;
    }

    ul {
        padding-left: 30px;
        color: #222;
        list-style-type: square;
    }

    p, li {
        margin-bottom: 10px;
        line-height: 24px;
    }
}

strong {
    font-weight: bold;
}

footer {
    margin-top: 20px;
    padding: 30px 15px;
    border-top: 1px solid #ddd;
    color: rgba(0,0,0,0.6);
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    
    .wrap {
        max-width: 400px;
    }

    .disclaimer {
        margin-top: 20px;
        color: #888;
        font-size: 10px;
        line-height: 16px;
    }
}

@import 'responsive.scss';
@import 'dark-mode.scss';