$risk-color-low: #43B02A;
$risk-color-medium: #E0A526;
$risk-color-high: #DC3513;
$risk-color-critical: #8A2B2B;
$risk-color-extreme: #DF1995;

@mixin risk-rule($level, $color) {
    .risk-bg-#{$level} {
        background-color: $color
    }

    .risk-border-left-#{$level} {
        border-left: $color
    }

    .risk-text-#{$level} {
        color: $color
    }
}

@include risk-rule(low, $risk_color-low);
@include risk-rule(medium, $risk_color-medium);
@include risk-rule(high, $risk_color-high);
@include risk-rule(critical, $risk_color-critical);
@include risk-rule(extreme, $risk_color-extreme);