                    <h4>Est. active cases by town</h4>
                    <div class="town-grid-container">
                        {{ range .Site.Data.active_town }}
                        <div class="town-grid-item">
                            <div class="town-label town-label-light">
                                {{ .town }}
                            </div>
                            <div class="town-number">
                                {{ lang.NumFmt 0 .active }}
                            </div>
                        </div>
                        {{ end }}
                    </div>
                    <div class="wrap">
                        <p class="table-footer" style="margin-top:20px;">The sum of these values may not match the total number of active cases countywide due to rounding.</p>
                    </div>