{{ $date := .Site.Data.summary.last_updated }}
{{ if isset .Params "date" }}
{{ $date = .Params.date }}
{{ end }}
{{ $data := index .Site.Data.active_town (dateFormat "2006-01-02" $date) }}
<div id="county-map" aria-label="Map of Howell County displaying active cases by town" role="list">
    <svg version="1.1" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
    <title>county</title>
    <g fill-rule="evenodd">
    <rect id="background" width="1e3" height="1e3" fill="#E3E3E3"/>
    <polygon id="county" points="777.13 62.198 777.26 79.855 777.8 303.73 776.59 355.22 775.51 452.27 760.28 452.94 756.77 723.59 765.13 723.59 766.21 885.87 662.97 886.54 333.15 892.07 222.22 893.01 226.8 586.24 229.9 452.53 249.31 451.86 254.3 257.23 255.65 223.27 258.75 98.455 255.24 93.738 256.46 51.011 390.57 51.955 518.48 54.246 650.57 57.211 732.92 60.985" fill="#F8F8F8" fill-rule="nonzero" stroke="#979797" stroke-width="2"/>
    </g>
    </svg>
    <div id="active-labels">
        {{ range $data }}
        <div id="active-{{ .key }}" class="active-label" aria-label="{{ .town }}" role="listitem"><div class="active-town">{{ .town }}</div><div class="active-value">{{ lang.NumFmt 0 .active  }}</div></div>
        {{ end }}
    </div>
</div>
<p class="table-footer">The sum of these values may not match the total number of active cases countywide due to rounding.</p>
<p class="table-footer">** Town located outside Howell County but with a ZIP Code area which extends into Howell County. Only Howell County residents with this town’s ZIP Code are counted.</p>