            <section id="dashboard">
                <div class="wrap">
                    <div class="risk-category risk-border-left-{{ .Site.Data.summary.risk_category }}">
                        <div class="content">
                            <div class="label">Risk Level</div>
                            <div class="category-name">{{ humanize .Site.Data.summary.risk_category }}</div>
                            <div class="category-value">
                                <strong>{{ lang.NumFmt 1 .Site.Data.summary.new_cases_7d_100k }}</strong> average daily new cases per 100K for past&nbsp;7d
                            </div>
                            {{ if eq .Site.Data.summary.risk_category "low" }}
                            <div class="category-value">
                                Please keep masking and social distancing &mdash; just a little while longer &mdash; to help keep our risk level low!
                            </div>
                            {{ end }}
                        </div>
                        <div id="meter">
                            <div id="meter-segments">
                                <div id="meter-critical" class="meter-segment risk-bg-critical"></div>
                                <div id="meter-high" class="meter-segment risk-bg-high"></div>
                                <div id="meter-medium" class="meter-segment risk-bg-medium"></div>
                                <div id="meter-low" class="meter-segment risk-bg-low"></div>
                            </div>
                            <div id="meter-labels">
                                <div id="meter-label-max" class="meter-label">75</div>
                                <div id="meter-label-critical" class="meter-label">25</div>
                                <div id="meter-label-high" class="meter-label">10</div>
                                <div id="meter-label-medium" class="meter-label">1</div>
                                <div id="meter-label-min" class="meter-label">0</div>
                            </div>
                            <div class="meter-indicator risk-bg-{{ .Site.Data.summary.risk_category }}"></div>
                        </div>
                    </div>
                </div>
                <div class="wrap">
                    <div id="dashboard-grid-container">
                        <div class="item">
                            <div class="upper">
                                <div class="left">
                                    <div class="highlight">{{ lang.NumFmt 0 .Site.Data.summary.new_cases_7d.value }}</div>
                                </div>
                                <div class="right">
                                    <div class="description">
                                        new case{{ if ne (int .Site.Data.summary.new_cases_7d.value) 1 }}s{{ end }} in <br />the&nbsp;past week{{ if .Site.Data.summary.new_cases_7d.estimate }}*{{ end }}
                                    </div>
                                    <div class="context">
                                        {{ if gt .Site.Data.summary.new_cases_change.value 0 }}
                                        <span class="change-bad">&uarr; 
                                        {{ else if lt .Site.Data.summary.new_cases_change.value 0 }}
                                        <span class="change-good">&darr; 
                                        {{ else }}
                                        <span class="change-neutral">&rarr;
                                        {{ end }}
                                        {{ lang.NumFmt 0 .Site.Data.summary.new_cases_change.value "|.|," "|"}}</span> from 1w ago{{ if .Site.Data.summary.new_cases_change.estimate }}*{{ end }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="upper">
                                <div class="left">
                                    <div class="highlight">{{ lang.NumFmt 0 .Site.Data.summary.active_cases.value }}</div>
                                </div>
                                <div class="right">
                                    <div class="description">
                                        known <br />active&nbsp;case{{ if ne (int .Site.Data.summary.active_cases.value) 1 }}s{{ end }}{{ if .Site.Data.summary.active_cases.estimate }}*{{ end }}
                                    </div>
                                    <div class="context">
                                        {{ if gt .Site.Data.summary.active_cases_change.value 0 }}
                                        <span class="change-bad">&uarr; 
                                        {{ else if lt .Site.Data.summary.active_cases_change.value 0 }}
                                        <span class="change-good">&darr; 
                                        {{ else }}
                                        <span class="change-neutral">&rarr;
                                        {{ end }}
                                        {{ lang.NumFmt 0 .Site.Data.summary.active_cases_change.value "|.|," "|"}}</span> from 1w ago{{ if .Site.Data.summary.active_cases_change.estimate }}*{{ end }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="upper">
                                <div class="left">
                                    <div class="highlight">
                                        {{ with .Site.Data.summary.positivity_rate_2w.value }}
                                        {{ lang.NumFmt 1 . }}%
                                        {{ else }}
                                        N/A
                                        {{ end }}
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="description">14-day <br />positivity&nbsp;rate{{ if .Site.Data.summary.positivity_rate_2w.estimate }}*{{ end }}</div>
                                    {{ with .Site.Data.summary.positivity_rate_2w_change.value }}
                                    <div class="context">
                                        {{ if ge . 0 }}
                                        <span class="change-bad">&uarr; 
                                        {{ else if lt . 0 }}
                                        <span class="change-good">&darr; 
                                        {{ else }}
                                        <span class="change-neutral">&rarr;
                                        {{ end }}
                                        {{ lang.NumFmt 1 . "|.|," "|"}}<abbr title="percentage points"> p.p.</abbr></span> from 1w ago{{ if $.Site.Data.summary.positivity_rate_2w_change.estimate }}*{{ end }}
                                    </div>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="upper">
                                <div class="left">
                                    <div class="highlight">
                                        {{ .Site.Data.summary.hospitalizations.value }}</div>
                                </div>
                                <div class="right">
                                    <div class="description">
                                        current <br />hospitalization{{ if ne (int .Site.Data.summary.hospitalizations.value) 1 }}s{{ end }}{{ if .Site.Data.summary.hospitalizations.estimate }}*{{ end }}
                                    </div>
                                    <div class="context">
                                        <div class="context">
                                            {{ if gt .Site.Data.summary.hospitalizations_change.value 0 }}
                                            <span class="change-bad">&uarr; 
                                            {{ else if lt .Site.Data.summary.hospitalizations_change.value 0 }}
                                            <span class="change-good">&darr; 
                                            {{ else }}
                                            <span class="change-neutral">&rarr;
                                            {{ end }}
                                            {{ lang.NumFmt 0 .Site.Data.summary.hospitalizations_change.value "|.|," "|"}}</span> from 1w ago{{ if .Site.Data.summary.hospitalizations_change.estimate }}*{{ end }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="upper">
                                <div class="left">
                                    <div class="highlight">{{ lang.NumFmt 0 .Site.Data.summary.deaths.value }}</div>
                                </div>
                                <div class="right">
                                    <div class="description">
                                        cumulative <br />deaths{{ if .Site.Data.summary.deaths.estimate }}*{{ end }}
                                    </div>
                                    <div class="context">
                                        {{ if (gt .Site.Data.summary.deaths_change.value 0) }}
                                        <span class="change-bad">&uarr; 
                                        {{ else }}
                                        <span class="change-good">&rarr; 
                                        {{ end }}
                                        {{ lang.NumFmt 0 .Site.Data.summary.deaths_change.value "|.|," "|"}}</span> from 1w ago{{ if .Site.Data.summary.deaths_change.estimate }}*{{ end }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="upper">
                                <div class="left">
                                    <div class="highlight">
                                        {{ with .Site.Data.summary.new_tests_7d.value }}
                                        {{ lang.NumFmt 0 . }}
                                        {{ else }}
                                        N/A
                                        {{ end }}
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="description">
                                        new test{{ if ne (int .Site.Data.summary.new_tests_7d.value) 1 }}s{{ end }} in <br />the&nbsp;past week{{ if .Site.Data.summary.new_tests_7d.estimate }}*{{ end }}
                                    </div>
                                    {{ with .Site.Data.summary.new_tests_7d_change.value }}
                                    <div class="context">
                                        {{ if gt . 0 }}
                                        <span class="change-good">&uarr; 
                                        {{ else if lt . 0 }}
                                        <span class="change-bad">&darr;
                                        {{ else }}
                                        <span class="change-neutral">&rarr;
                                        {{ end }}
                                        {{ lang.NumFmt 0 . "|.|," "|"}}</span> from 1w ago{{ if $.Site.Data.summary.new_tests_7d_change.estimate }}*{{ end }}
                                    </div>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrap">
                        <p class="table-footer">* Quantity estimated or impacted by estimated data.</p>
                    </div>