<section id="dashboard">
    <div class="wrap">
        {{ partial "dashboard/risk-level.html" . }}
        <div id="dashboard-grid-container">
            {{ partial "dashboard/new-cases.html" . }}
            {{ partial "dashboard/active-cases.html" . }}
            {{ partial "dashboard/positivity-rate.html" . }}
            {{ partial "dashboard/hospitalizations.html" . }}
            {{ partial "dashboard/deaths.html" . }}
            {{ partial "dashboard/new-tests.html" . }}
        </div>
        <p class="table-footer">* Quantity estimated or impacted by estimated data.</p>
    </div>
</section>