            <section id="dashboard">
                <div class="wrap">
                    {{ $new_cases_7d_100k := mul (div .Site.Data.summary.new_cases_7d.value 7.0) (div 100000.0 40117.0) }}
                    {{ $category := cond (lt $new_cases_7d_100k 1) "low" (cond (lt $new_cases_7d_100k 10) "medium" (cond (lt $new_cases_7d_100k 25) "high" (cond (lt $new_cases_7d_100k 75) "critical" "extreme"))) }}
                    <div class="risk-category-{{ $category }}">
                        <div class="label">Risk Level</div>
                        <div class="content">
                            <div class="category-name">{{ humanize $category }}</div>
                            <div class="category-description">
                                {{ if eq $category "low" }}
                                Disease currently contained
                                {{ else if eq $category "medium" }}
                                Slow disease growth
                                {{ else if eq $category "high" }}
                                At risk of outbreak
                                {{ else if eq $category "critical" }}
                                Active or imminent outbreak
                                {{ else if eq $category "extreme" }}
                                Severe outbreak ongoing
                                {{ end }}
                            </div>
                            <div class="category-value">
                                <strong>{{ lang.NumFmt 1 $new_cases_7d_100k }}</strong> average daily new cases per 100K population over the past week
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap">
                    <div id="dashboard-grid-container">
                        <div class="item">
                            <div class="upper">
                                <div class="left">
                                    <div class="highlight">{{ lang.NumFmt 0 .Site.Data.summary.new_cases_7d.value }}</div>
                                </div>
                                <div class="right">
                                    <div class="description">
                                        new case{{ if ne (int .Site.Data.summary.new_cases_7d.value) 1 }}s{{ end }} in the&nbsp;past week{{ if .Site.Data.summary.new_cases_7d.estimate }}*{{ end }}
                                    </div>
                                    <div class="context">
                                        {{ if gt .Site.Data.summary.new_cases_0 }}
                                        <span class="change-bad">&uarr; 
                                        {{ else if lt .Site.Data.summary.new_cases_0 }}
                                        <span class="change-good">&darr; 
                                        {{ else }}
                                        <span class="change-neutral">&rarr;
                                        {{ end }}
                                        {{ lang.NumFmt 0 .Site.Data.summary.new_cases_change.value "|.|," "|"}}</span> from a week ago{{ if .Site.Data.summary.new_cases_change.estimate }}*{{ end }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="upper">
                                <div class="left">
                                    <div class="highlight">{{ lang.NumFmt 0 .Site.Data.summary.active_cases.value }}</div>
                                </div>
                                <div class="right">
                                    <div class="description">
                                        known active&nbsp;case{{ if ne (int .Site.Data.summary.active_cases.value) 1 }}s{{ end }}{{ if .Site.Data.summary.active_cases.estimate }}*{{ end }}
                                    </div>
                                    <div class="context">
                                        {{ if gt .Site.Data.summary.active_cases_change.value 0 }}
                                        <span class="change-bad">&uarr; 
                                        {{ else if lt .Site.Data.summary.active_cases_change.value 0 }}
                                        <span class="change-good">&darr; 
                                        {{ else }}
                                        <span class="change-neutral">&rarr;
                                        {{ end }}
                                        {{ lang.NumFmt 0 .Site.Data.summary.active_cases_change.value "|.|," "|"}}</span> from a week ago{{ if .Site.Data.summary.active_cases_change.estimate }}*{{ end }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="upper">
                                <div class="left">
                                    <div class="highlight">
                                        {{ with .Site.Data.summary.positivity_rate_2w.value }}
                                        {{ lang.NumFmt 1 . }}%
                                        {{ else }}
                                        N/A
                                        {{ end }}
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="description">14-day positivity&nbsp;rate{{ if .Site.Data.summary.positivity_rate_2w.estimate }}*{{ end }}</div>
                                    {{ with .Site.Data.summary.positivity_rate_2w_change.value }}
                                    <div class="context">
                                        {{ if ge . 0 }}
                                        <span class="change-bad">&uarr; 
                                        {{ else if lt . 0 }}
                                        <span class="change-good">&darr; 
                                        {{ else }}
                                        <span class="change-neutral">&rarr;
                                        {{ end }}
                                        {{ lang.NumFmt 1 . "|.|," "|"}}%</span> from a week ago{{ if $.Site.Data.summary.positivity_rate_2w_change.estimate }}*{{ end }}
                                    </div>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="upper">
                                <div class="left">
                                    <div class="highlight">{{ lang.NumFmt 0 .Site.Data.summary.hospitalizations.value }}</div>
                                </div>
                                <div class="right">
                                    <div class="description">
                                        current hospitalization{{ if ne (int .Site.Data.summary.hospitalizations.value) 1 }}s{{ end }}{{ if .Site.Data.summary.hospitalizations.estimate }}*{{ end }}
                                    </div>
                                    <div class="context">
                                        {{ if gt .Site.Data.summary.hospitalizations_change.value 0 }}
                                        <span class="change-bad">&uarr; 
                                        {{ else if lt .Site.Data.summary.hospitalizations_change.value 0 }}
                                        <span class="change-good">&darr;
                                        {{ else }}
                                        <span class="change-neutral">&rarr; 
                                        {{ end }}
                                        {{ lang.NumFmt 0 .Site.Data.summary.hospitalizations_change.value "|.|," "|"}}</span> from a week ago{{ if .Site.Data.summary.hospitalizations_change.estimate }}*{{ end }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="upper">
                                <div class="left">
                                    <div class="highlight">{{ lang.NumFmt 0 .Site.Data.summary.deaths.value }}</div>
                                </div>
                                <div class="right">
                                    <div class="description">
                                        cumulative <br />deaths{{ if .Site.Data.summary.deaths.estimate }}*{{ end }}
                                    </div>
                                    <div class="context">
                                        {{ if (gt .Site.Data.summary.deaths_change.value 0) }}
                                        <span class="change-bad">&uarr; 
                                        {{ else }}
                                        <span class="change-neutral">&rarr; 
                                        {{ end }}
                                        {{ lang.NumFmt 0 .Site.Data.summary.deaths_change.value "|.|," "|"}}</span> from a week ago{{ if .Site.Data.summary.deaths_change.estimate }}*{{ end }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="upper">
                                <div class="left">
                                    <div class="highlight">
                                        {{ with .Site.Data.summary.new_tests_7d.value }}
                                        {{ lang.NumFmt 0 . }}
                                        {{ else }}
                                        N/A
                                        {{ end }}
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="description">
                                        new test{{ if ne (int .Site.Data.summary.new_tests_7d.value) 1 }}s{{ end }} in the&nbsp;past week{{ if .Site.Data.summary.new_tests_7d.estimate }}*{{ end }}
                                    </div>
                                    {{ with .Site.Data.summary.new_tests_7d_change.value }}
                                    <div class="context">
                                        {{ if gt . 0 }}
                                        <span class="change-good">&uarr; 
                                        {{ else if lt . 0 }}
                                        <span class="change-bad">&darr;
                                        {{ else }}
                                        <span class="change-neutral">&rarr;
                                        {{ end }}
                                        {{ lang.NumFmt 0 . "|.|," "|"}}</span> from a week ago{{ if $.Site.Data.summary.new_tests_7d_change.estimate }}*{{ end }}
                                    </div>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrap">
                        <p class="table-footer">* Quantity estimated or impacted by estimated data.</p>
                    </div>