{{ $date := .Site.Data.summary.last_updated }}
{{ if isset .Params "date" }}
{{ $date = .Params.date }}
{{ end }}
        </main>
        <footer class="mt-3 py-4">
            <div class="container-fluid">
                <p class="mb-0">&copy; {{ now.Format "2006"}} Jonathan Thornton &middot; <a href="https://github.com/jonblatho/covid-19/blob/main/LICENSE">MIT License</a></p>
                {{ if or .IsHome (eq .Params.layout "table") }}
                <p class="mb-0">Site last updated: {{ now.Format "January 2, 2006" }}</p>
                {{ end }}
                <p class="mb-0"><a href="https://github.com/jonblatho/covid-19">View on GitHub</a> &middot; <a href="/privacy">Privacy</a></p>
            </div>
        </footer>
        {{ if or (eq .Params.layout "time-machine") .IsHome }}
        <script>
            const chartContainer = document.getElementById("chart-container");
            const chartElement = document.createElement("canvas");
            chartElement.id = "chart";
            chartElement.setAttribute("aria-hidden", "true");
            chartContainer.appendChild(chartElement);
            const date = chartContainer.dataset.chartDate
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js" integrity="sha256-bC3LCZCwKeehY6T4fFi9VfOU0gztUa+S4cnkIhVPZ5E=" crossorigin="anonymous" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@0.1.2/dist/chartjs-adapter-moment.min.js" integrity="sha256-mJm4oz+jkEuyR3VN2HVsm8bM3cMWU7Zot+JMClIi0sY=" crossorigin="anonymous" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/1.0.2/chartjs-plugin-annotation.min.js" integrity="sha512-FuXN8O36qmtA+vRJyRoAxPcThh/1KJJp7WSRnjCpqA+13HYGrSWiyzrCHalCWi42L5qH1jt88lX5wy5JyFxhfQ==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
        <script src="https://code.iconify.design/1/1.0.7/iconify.min.js" async defer></script>
        <script>
            var end_date = {{ dateFormat "2006-01-02" $date }};
        </script>
        {{ $data := resources.Get "js/chart-data.json" | resources.Minify }}
        {{ $dataJS := resources.Get "js/chart-data.js" | resources.Minify | resources.Fingerprint }}
        {{ $configJS := resources.Get "js/chart-config.js" | resources.Minify | resources.Fingerprint }}
        {{ $uiJS := resources.Get "js/chart-ui.js" | resources.Minify | resources.Fingerprint }}
        {{ $dateMarkersJS := resources.Get "js/chart-date-markers.js" | resources.Minify }}
        <script src="{{ $dataJS.Permalink }}" integrity="{{ $dataJS.Data.Integrity }}" defer></script>
        <script src="{{ $configJS.Permalink }}" integrity="{{ $configJS.Data.Integrity }}" defer></script>
        <script src="{{ $uiJS.Permalink }}" integrity="{{ $uiJS.Data.Integrity }}" defer></script>
        <script src="{{ $dateMarkersJS.Permalink }}" integrity="{{ $dateMarkersJS.Data.Integrity }}" defer></script>
        <script>
            var ctx = chartElement.getContext("2d");
            
            var interval = setInterval(function() {
                if(typeof(Chart) != 'undefined' && typeof(reloadChart) != 'undefined' && typeof(primaryColor) != 'undefined' && typeof(chartLabels) != 'undefined' && typeof(markers) != 'undefined') {
                    window.clearInterval(interval); // Stop executing repeatedly

                    var chart = new Chart(ctx);
                    let url = '{{ $data.Permalink }}';

                    fetch(url)
                    .then(res => res.json())
                    .then((out) => {
                        json = out
                        reloadChart(chart, 'new', json, date);
                    })
                    .catch(err => { throw err } );
                }
            }, 10);

            document.addEventListener("DOMContentLoaded", function() {
                window.setInterval(interval);
            });
        </script>
        {{ end }}
    </body>
</html>