        </main>
        <footer>
            <div class="wrap">
                <p class="footer">&copy; {{ now.Format "2006"}} &middot; Generated {{ now.Format "3:04 PM MST, January 2, 2006" }} &middot; <a href="https://github.com/jonblatho/covid-19">View on GitHub</a></p>
            </div>
        </footer>
        {{ if .IsHome }}
        {{ $data := resources.Get "js/chart-data.json" }}
        {{ $dataJS := resources.Get "js/chart-data.js" | resources.Fingerprint }}
        {{ $configJS := resources.Get "js/chart-config.js" | resources.Fingerprint }}
        {{ $uiJS := resources.Get "js/chart-ui.js" | resources.Fingerprint }}
        {{ $dateMarkersJS := resources.Get "js/chart-date-markers.js" }}
        <script src="{{ $dataJS.Permalink }}" integrity="{{ $dataJS.Data.Integrity }}"></script>
        <script src="{{ $configJS.Permalink }}" integrity="{{ $configJS.Data.Integrity }}"></script>
        <script src="{{ $uiJS.Permalink }}" integrity="{{ $uiJS.Data.Integrity }}"></script>
        <script src="{{ $dateMarkersJS.Permalink }}" integrity="{{ $dateMarkersJS.Data.Integrity }}"></script>
        <script>
            var chart = new Chart(ctx);
            let url = '{{ $data.Permalink }}';

            loadData(url);

            // Listen for dark mode changes
            window.matchMedia('(prefers-color-scheme: dark)').addListener(function (e) {
                reloadChartForTraitChange('darkMode');
            });
        </script>
        {{ end }}
    </body>
</html>