{{ partial "head.html" . }}
        <a href="{{ .Site.BaseURL }}">
            <header>
                <div class="wrap">
                    <h1>COVID-19 in Howell County, MO</h1>
                    <div id="last-updated">
                        <p>Data as of {{ dateFormat "January 2, 2006" .Site.Data.summary.last_updated }}</p>
                    </div>
                </div>
            </header>
        </a>
        <main>
            <div id="top">
                <div class="wrap">
                    <div class="message-moderate">
                        On December 15, HCHD added nearly 800 tests in a single day &mdash; far above average &mdash; due to a data dump from the state. Without knowing the dates across which to distribute these delayed tests, this sudden change will impact testing-related numbers through the end of the month. <strong>Interpret the data here with caution.</strong>
                    </div>
                    <div class="message-info">
                        Due to the Christmas holiday, HCHD will not report new testing numbers until Monday, December 28.
                    </div>
                </div>
            </div>