{{ partial "head.html" . }}
{{ $date := .Site.Data.summary.last_updated }}
{{ if isset .Params "date" }}
{{ $date = .Params.date }}
{{ end }}
{{ $data := index .Site.Data.summary (dateFormat "2006-01-02" $date) }}
        <a href="{{ .Site.BaseURL }}">
            <header role="banner">
                <div class="container-fluid">
                    <h1>COVID-19 in Howell County</h1>
                    <p id="last-updated">as of {{ dateFormat "January 2, 2006" $date }}</p>
                </div>
            </header>
        </a>
        <nav id="site-nav" {{ if or (ne .Params.layout "table") $.IsHome }}style="position:sticky !important;top:0 !important;"{{ end }}>
            <ul class="container-fluid">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <li class="nav-item {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}nav-item-active{{ end }}">
                <a class="nav-link" href="{{ .URL }}" title="{{ .Name }}">{{ .Title }}</a>
                </li>
                {{ end }}
            </ul>
        </nav>
        <div id="top">
            {{ if eq .Params.layout "time-machine" }}
            <div class="message-info" style="text-align:center;">
                <div class="container-fluid">
                    {{ if ne (dateFormat "2006-01-02" $date) .Site.Data.summary.last_updated }}
                    Below is the homepage as it would have appeared on {{ dateFormat "January 2, 2006" $date }}. Click <a href="{{ .Site.BaseURL }}">here</a> to return to current data.
                    {{ else }}
                    This page is a permanent link to the homepage with data as of {{ dateFormat "January 2, 2006" $date }}. Click <a href="{{ .Site.BaseURL }}">here</a> to go home.
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
        {{ if eq .Params.layout "time-machine" }}
        <nav id="time-machine-nav" class="wrap">
            {{ if isset $data "prev_date" }}
            <a href="{{ .Site.BaseURL }}time-machine/{{ $data.prev_date }}" class="left">&larr; {{ dateFormat "1/2/06" $data.prev_date }}</a>
            {{ end }}
            <span class="label">Time Machine</span>
            {{ if isset $data "next_date" }}
            <a href="{{ .Site.BaseURL }}time-machine/{{ $data.next_date }}" class="right">{{ dateFormat "1/2/06" $data.next_date }} &rarr;</a>
            {{ else if ne .Params.layout "time-machine" }}
            <a href="{{ .Site.BaseURL }}time-machine/{{ $date }}" class="right">Permalink</a>
            {{ else }}
            <a href="{{ .Site.BaseURL }}" class="right">Home</a>
            {{ end }}
        </nav>
        <div class="clear"></div>
        {{ end }}
        <main>