{{ partial "head.html" . }}
        <a href="{{ .Site.BaseURL }}">
            <header>
                <div class="wrap">
                    <h1>COVID-19 in Howell County, MO</h1>
                    <div id="last-updated">
                        <p>Data as of {{ dateFormat "January 2, 2006" .Site.Data.summary.last_updated }}</p>
                    </div>
                </div>
            </header>
        </a>
        <main>
            <div id="top">
                <div class="wrap">
                    <div class="message-info">
                        Due to recent inclement weather, testing has fallen sharply, so this dashboard may be unable to fully capture the current state of COVID-19 in the county. While case growth had been on a slowing trend, keep this in mind when interpreting case and testing numbers as things return to normal.
                    </div>
                </div>
            </div>