{{ $date := .Site.Data.summary.last_updated }}
{{ if isset .Params "date" }}
{{ $date = .Params.date }}
{{ end }}
<section id="case-tables" class="lh-1">
    <h3>New cases</h3>
    <table class="totals" role="grid">
        <thead>
            <tr>
                <th aria-hidden="true"></th>
                <th class="town-label-dark county" aria-label="Total">
                    <div class="abbreviation" aria-hidden="true">Total</div>
                </th>
                <th class="town-label-dark" aria-label="West Plains">
                    <div class="abbreviation" aria-hidden="true">W.P.</div>
                </th>
                <th class="town-label-dark" aria-label="Willow Springs">
                    <div class="abbreviation" aria-hidden="true">W.S.</div>
                </th>
                <th class="town-label-dark" aria-label="Mountain View">
                    <div class="abbreviation" aria-hidden="true">M.V.</div>
                </th>
                <th class="town-label-dark"><span aria-hidden="true">Other</span></th>
            </tr>
        </thead>
        {{ range index $.Site.Data.relative (dateFormat "2006-01-02" $date) }}
        <tr>
            <th class="row-head">{{ .label }}</th>
            <td class="county">{{ lang.NumFmt 0 (index .totals 0) }}</td>
            <td>{{ lang.NumFmt 0 (index .totals 1) }}</td>
            <td>{{ lang.NumFmt 0 (index .totals 2) }}</td>
            <td>{{ lang.NumFmt 0 (index .totals 3) }}</td>
            <td>{{ lang.NumFmt 0 (index .totals 4) }}</td>
        </tr>
        {{ end }}
    </table>
    <table class="totals">
        <thead>
            <tr>
                <th aria-hidden="true"></th>
                <th class="town-label-dark county" aria-label="Total">
                    <div class="abbreviation" aria-hidden="true">Total</div>
                </th>
                <th class="town-label-dark" aria-label="West Plains">
                    <div class="abbreviation" aria-hidden="true">W.P.</div>
                </th>
                <th class="town-label-dark" aria-label="Willow Springs">
                    <div class="abbreviation" aria-hidden="true">W.S.</div>
                </th>
                <th class="town-label-dark" aria-label="Mountain View">
                    <div class="abbreviation" aria-hidden="true">M.V.</div>
                </th>
                <th class="town-label-dark"><span aria-hidden="true">Other</span></th>
            </tr>
        </thead>
        {{ range index $.Site.Data.monthly (dateFormat "2006-01-02" $date) }}
        <tr>
            <th class="row-head">{{ replace (dateFormat "Jan. 2006" (print .month "-01")) "May." "May" }}</th>
            <td class="county">{{ lang.NumFmt 0 (index .totals 0) }}</td>
            <td>{{ lang.NumFmt 0 (index .totals 1) }}</td>
            <td>{{ lang.NumFmt 0 (index .totals 2) }}</td>
            <td>{{ lang.NumFmt 0 (index .totals 3) }}</td>
            <td>{{ lang.NumFmt 0 (index .totals 4) }}</td>
        </tr>
        {{ end }}
    </table>
</section>