            <section id="notes">
                <div class="wrap">
                    <h3>Methodology</h3>
                    <ul>
                        <li>
                            Most data here comes directly from reports published on most non-holiday weekdays and Saturdays by the Howell County Health Department (HCHD). To fill in gaps between those reports, when there is a substantial difference through the gap, I apply a linear equation to estimate the missing data. Where sources are available, those are linked in the table.
                        <li>
                            Testing data is published less often than other data. When testing data is absent, I estimate testing numbers by assuming that the 14-day positivity rate is the same until reporting resumes. Sometimes this isn&rsquo;t mathematically possible, in which case I keep the positivity rate as close as possible to the last known value. Once reporting resumes, I recalculate the estimates using the method in the above point.
                        </li>
                        <li>
                            I use HCHD data because the Missouri Department of Health and Senior Services (DHSS) data for Howell County is lagging woefully behind HCHD&rsquo;s reports.
                        </li>
                        <li>
                            While HCHD reports the total of active cases for the county, data for active cases by town is estimated. This is done by normalizing the 7-day total new cases for the county and categories (cities and &ldquo;other&rdquo;) and multiplying the county total active cases by those normalized values. Rounding may cause the sum of the by-town values not to exactly equal the county total.
                        </li>
                    </ul>
                    <h3>Notes</h3>
                    <ul>
                        <li>
                            Data by town is based on ZIP code. Therefore, for example, while the population of the city of West Plains is about 12,000, its ZIP code population is actually 24,554 based on 2010 Census data (for the sections of the 65775 ZIP code within Howell County). For Willow Springs and Mountain View, these populations are 5,414 and 5,382, respectively, by <a href="https://gist.github.com/jonblatho/003174508c09c2001d38e386a95fe9cd">my calculations</a>.
                        </li>
                        <li>
                            HCHD did not begin providing an active case count until April 23, 2020. Active case data before then is estimated by assuming that cases were considered active for 10 days following the report date.
                        </li>
                        <li>
                            Testing data isn&rsquo;t available prior to August 19, 2020. That&rsquo;s when
                            HCHD began consistently publishing the number of SARS-CoV-2 tests conducted, 
                            rather than the number of individuals tested. For consistency, I opted to neither 
                            include nor estimate testing data before that date.
                        </li>
                        <li>
                            HCHD stopped publishing hospitalization data on March 24, 2021.
                        </li>
                        <li>
                            This page includes both official data and unofficial estimates. For official data,
                            please consult the Howell County Health Department.
                        </li>
                    </ul>
                    <h3>Update schedule</h3>
                    <ul>
                        <li>
                            <strong>Evening updates:</strong> Most data is updated automatically between 10 PM and midnight Central Time each night. Testing data is not available until the morning, so testing numbers are estimated in the evening updates.
                        </li>
                        <li>
                            <strong>Morning updates:</strong> In the morning each day, the evening updates are amended to include actual test counts (when available) and source links, which must be added manually.
                        </li>
                    </ul>
                </div>
            </section>