<tr>
    <th rowspan="2">Date</th>
    <th colspan="16">Total Cases (<a href="#abbreviations">Abbreviations</a>)</th>
    <th rowspan="2">New<br />Cases</th>
    <th rowspan="2">Active<br />Cases</th>
    <th colspan="2">Tests</th>
    <th rowspan="2" aria-label="14-day Positivity Rate">14-day<br />Pos.&nbsp;Rate</th>
    <th rowspan="2" aria-label="Hospitalizations">Hosp.</th>
    <th rowspan="2">Deaths</th>
    <th colspan="3">Vaccinations</th>
    <th rowspan="2">Risk Level</th>
    <th rowspan="2">Community<br aria-hidden="true" />Transmission</th>
    <th rowspan="2">Sources</th>
</tr>
<tr>
    <th aria-label="County total">Total</th>
    <th aria-label="West Plains">WP</th>
    <th aria-label="Willow Springs">WS</th>
    <th aria-label="Mountain View">MV</th>
    <th aria-label="Bakersfield">Bk</th>
    <th aria-label="Brandsville">Bv</th>
    <th aria-label="Cabool">Cb</th>
    <th aria-label="Caulfield">Cf</th>
    <th aria-label="Dora">D</th>
    <th aria-label="Koshkonong">K</th>
    <th aria-label="Moody">M</th>
    <th aria-label="Peace Valley">PV</th>
    <th aria-label="Pomona">Pm</th>
    <th aria-label="Pottersville">Pt</th>
    <th aria-label="Summersville">S</th>
    <th aria-label="Unknown Town">?</th>
    <th>Total</th>
    <th>New</th>
    <th>Doses</th>
    <th>Initiated</th>
    <th>Completed</th>
</tr>