            <div id="table" class="text-center lh-1">
                <div id="all-data-wrapper">
                    <table class="all-data">
                        <thead class="scroll-sync">
                            {{ partial "table-header.html" . }}
                        </thead>
                        <tbody class="scroll-sync">
                            {{ range .Site.Data.daily }}
                                {{ partial "table-row.html" . }}
                            {{ end }}
                        </tbody>
                    </table>
                </div>
                <div class="table-footer container-fluid" style="text-align: left;">
                    <p style="text-align: left;"><span style="font-style: italic;">Italicized</span> quantities are estimated or impacted by estimated data.</p>
                    <p style="text-align: left;">Total cases abbreviation key:</p>
                    <ul class="row" id="abbreviations">
                        <div class="col-md-3">
                            <li><strong>Total:</strong> Howell County total</li>
                            <li><strong>WP:</strong> West Plains</li>
                            <li><strong>WS:</strong> Willow Springs</li>
                            <li><strong>MV:</strong> Mountain View</li>
                        </div>
                        <div class="col-md-3">
                            <li><strong>Bk:</strong> Bakersfield</li>
                            <li><strong>Bv:</strong> Brandsville</li>
                            <li><strong>Cb:</strong> Cabool</li>
                            <li><strong>Cf:</strong> Caulfield</li>
                        </div>
                        <div class="col-md-3">
                            <li><strong>D:</strong> Dora</li>
                            <li><strong>K:</strong> Koshkonong</li>
                            <li><strong>M:</strong> Moody</li>
                            <li><strong>PV:</strong> Peace Valley</li>
                        </div>
                        <div class="col-md-3">
                            <li><strong>Pm:</strong> Pomona</li>
                            <li><strong>Pt:</strong> Pottersville</li>
                            <li><strong>S:</strong> Summersville</li>
                            <li><strong>?:</strong> Unknown</li>
                        </div>
                    </ul>
                </div>
            </div>